{% extends "base.tmpl" %}

{% block title %}Scrolls{% end %}
{% block brand %}Scrolls{% end %}

{% block body %}
<div class="row">
    <table class="table table-striped">
        <thead>
	    <th>ID</th>
	    <th>Name</th>
	    <th>Path</th>
	    <th>Creation Time</th>
	    <th>Modification Time</th>
	    <th>Summons</th>
        </thead>
        <tbody>
    	    {% for id, name, path, ctime, mtime, summons in scrolls %}
    	    <tr>
	        <td><a href="/scroll/{{ id }}">{{ id }}</a></td>
	        <td><a href="/scroll/{{ id }}">{{ name }}</a></td>
		<td>{{ path }}</td>
	        <td>{{ timediff(ctime) }} ago</td>
                <td>{{ timediff(mtime) }} ago</td>
                <td>{{ summons }}</td>
    	    </tr>
           {% end %}
        </tbody>
    </table>
</div>
{% end %}
